<a
  href="{{ block.settings.link }}"
  class="{{ block.settings | class_list }} link-block link-block-icon-{{ block.settings.icon_position }} {{ block.settings.style_class }}{% if block.settings.icon != "none" %} link--with-icon{% endif %}"
  {%- if block.settings.open_in_new_tab -%}
    target="_blank" rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {%- comment -%}{% content_for "blocks" %}{%- endcomment -%}

  {% if section.blocks.size == 1 %}
    {%- comment -%}Statically render block: icon{%- endcomment -%}
    {% content_for "block", type: "icon" , id:"icon" %}
  {% endif %}

  {% if section.blocks.size > 1 %}
    {%- assign alternate_blocks_rendering = 'none' %}
    {% case alternate_blocks_rendering %}
      {% when 'limited-loop' %}
        {%- comment -%}limit blocks forloop to first block in blocks{%- endcomment -%}
        {%- for block in block.blocks limit: 1 -%}
          {%- if forloop.index != 1 %} {% continue %}{%- endif -%}
          {%- render block -%}
        {%- endfor -%}
      {% when 'only-first-loop' %}
        {%- comment -%}skip all blocks after the first block in blocks {%- endcomment -%}
        {%- for block in block.blocks -%}
          {%- if forloop.index != 1 %}{% continue %}{%- endif -%}
          {%- render block -%}
        {%- endfor -%}
      {% else %}
        {% content_for "blocks", type: "icon" , id:"icon" %}
    {% endcase %}
  {% endif %}


  {{ block.settings.label }}
</a>

{% schema %}
{
  "name": "Button with icon",
  "tag": null,
  "blocks": [{ "type": "icon" }],
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Button label"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "Style",
      "options": [
        {
          "value": "button",
          "label": "Solid"
        },
        {
          "value": "button-secondary",
          "label": "Outline"
        },
        {
          "value": "link",
          "label": "Link"
        }
      ],
      "default": "button"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "Open this link in a new window",
      "default": false
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Icon position",
      "options": [
        {
          "value": "left",
          "label": "Before"
        },
        {
          "value": "right",
          "label": "After"
        }
      ],
      "default": "left"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto",
        "flex-grow": "0",
        "flex-shrink": "0"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "0"
      }
    }
  ],
  "presets": [
    {
      "name": "Button (link with icon)",
      "settings": {
        "label": "Link label",
        "style_class": "link"
      }
    },
    {
      "name": "Button (primary link with icon)",
      "settings": {
        "label": "Primary button label",
        "spacing": {
          "padding": "10px 30px"
        }
      },
      "blocks": [
        {
          "type": "icon"
        }
      ]
    },
    {
      "name": "Button - create account (primary link with icon)",
      "settings": {
        "label": "Create an account",
        "style_class": "button-primary",
        "spacing": {
          "padding": "10px 30px"
        }
      },
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon" : "silhouette",
          }
        }
      ]
    },
    {
      "name": "Button (external link with icon)",
      "settings": {
        "open_in_new_tab": true,
        "icon_position": "right",
        "spacing": {
          "padding": "10px 30px"
        }
      },
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon" : "arrow"
          }
        }
      ]
    }
  ]
}
{% endschema %}
