{% assign icon_block = blocks | where:'name', 'icon' %}
{% render icon_block %}
end render icon_block <br>
<a
  href="{{ block.settings.link }}"
  class="{{ block.settings | class_list }} link-block link-block-icon-{{ block.settings.icon_position }} {{ block.settings.style_class }}{% if block.settings.icon != "none" %} link--with-icon{% endif %}"
  {%- if block.settings.open_in_new_tab -%}
    target="_blank" rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>

  {%- comment -%}{% content_for "blocks" %}{%- endcomment -%}

  {% for block in block.blocks %}
    {%- comment -%}block: {{ block }}, block type: {{ block.type }}<br>{%- endcomment -%}
    {%- comment -%}block: {{ block | json }}<br>{%- endcomment -%}
    {%- comment -%}block.settings.icon: {{ block.settings.icon }}<br>{%- endcomment -%}
    {% if block.type == 'icon' %}
      {%- comment -%}{{ block }}{%- endcomment -%}
      {%- if block.settings.icon != 'none' -%}
        <svg
          class="icon"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          {{ block.shopify_attributes }}
        >
          {%- render 'icon', icon: block.settings.icon -%}
        </svg>
      {%- elsif block.settings.image_upload != blank -%}
        {{
          block.settings.image_upload
          | image_url: width: 500
          | image_tag: widths: '50, 100, 200, 300, 400, 500', class: icon_block_class
        }}
      {%- endif -%}
    {%- endif -%}
  {% endfor %}

  {{ block.settings.label }}
</a>

{% schema %}
{
  "name": "Button with icon",
  "tag": null,
  "blocks": [{ "type": "icon" }],
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Button label"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "Style",
      "options": [
        {
          "value": "button",
          "label": "Solid"
        },
        {
          "value": "button-secondary",
          "label": "Outline"
        },
        {
          "value": "link",
          "label": "Link"
        }
      ],
      "default": "button"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "Open this link in a new window",
      "default": false
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Icon position",
      "options": [
        {
          "value": "left",
          "label": "Before"
        },
        {
          "value": "right",
          "label": "After"
        }
      ],
      "default": "left"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto",
        "flex-grow": "0",
        "flex-shrink": "0"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "0"
      }
    }
  ],
  "presets": [
    {
      "name": "Button (link with icon)",
      "settings": {
        "label": "Link label",
        "style_class": "link"
      },
      "blocks": [
        {
          "type": "icon"
        }
      ]
    },
    {
      "name": "Button (primary link with icon)",
      "settings": {
        "label": "Primary button label",
        "spacing": {
          "padding": "10px 30px"
        }
      },
      "blocks": [
        {
          "type": "icon"
        }
      ]
    },
    {
      "name": "Button - create account (primary link with icon)",
      "settings": {
        "label": "Create an account",
        "style_class": "button-primary",
        "spacing": {
          "padding": "10px 30px"
        }
      },
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon" : "silhouette",
          }
        }
      ]
    },
    {
      "name": "Button (external link with icon)",
      "settings": {
        "open_in_new_tab": true,
        "icon_position": "right",
        "spacing": {
          "padding": "10px 30px"
        }
      },
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon" : "arrow"
          }
        }
      ]
    }
  ]
}
{% endschema %}
